<footer class="bg-gray-800 w-full py-4 text-center text-gray-400">
    Powered by <a href="http://open-notify.org/" target="_blank" class="text-yellow-500 hover:text-yellow-400">Satyajeet Das</a>
  </footer>